=begin
#Google Firebase Cloud Messaging REST API

#Using the Firebase Admin SDK or FCM app server protocols, you can build message requests and send them to targets. 

OpenAPI spec version: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.0.0-SNAPSHOT

=end

require 'uri'

module FcmClient
  class MessagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send messages to topics
    # To send messages to topics, specify the desired topic name in the send request. 
    # @param project_id A valid GCP project ID.
    # @param inline_object 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def v1_projects_project_id_messagessend_post(project_id, inline_object, opts = {})
      data, _status_code, _headers = v1_projects_project_id_messagessend_post_with_http_info(project_id, inline_object, opts)
      data
    end

    # Send messages to topics
    # To send messages to topics, specify the desired topic name in the send request. 
    # @param project_id A valid GCP project ID.
    # @param inline_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def v1_projects_project_id_messagessend_post_with_http_info(project_id, inline_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.v1_projects_project_id_messagessend_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagesApi.v1_projects_project_id_messagessend_post"
      end
      # verify the required parameter 'inline_object' is set
      if @api_client.config.client_side_validation && inline_object.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object' when calling MessagesApi.v1_projects_project_id_messagessend_post"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/messages:send'.sub('{' + 'project_id' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(inline_object)
      auth_names = ['Admin']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#v1_projects_project_id_messagessend_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
